html{
	background:aliceblue;
}
h1 {
	color:blue;
	text-shadow: 1px 2px 3px #808080;
}

div {
	font-weight: bold;
}

button {
	width: 80px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	background-color:cornflowerblue;
	border-radius: 10px;
	color: cornsilk;
}

.ealio{
	color:crimson;
	font-weight: bold;
}

#alpha1 {
	z-index: 100;
	position: relative;
	left: 32px;
}

#alpha2{
	z-index: 100;
	position: relative;
	left: 92px;
}
#alpha3{
	z-index: 100;
	position: relative;
	left: 154px;
}
#alpha4{
	z-index: 100;
	position: relative;
	left: 216px;
}
#alpha5{
	z-index: 100;
	position: relative;
	left: 280px;
}
#alpha6{
	z-index: 100;
	position: relative;
	left: 32px;
}
#alpha7{
	z-index: 100;
	position: relative;
	left: 92px;
}
#alpha8{
	z-index: 100;
	position: relative;
	left: 154px;
}
#alpha9{
	z-index: 100;
	position: relative;
	left: 32px;
}
#alpha10{
	z-index: 100;
	position: relative;
	left: 92px;
}
#alpha11{
	z-index: 100;
	position: relative;
	left: 154px;
}
#alpha12{
	z-index: 100;
	position: relative;
	left: 32px;
}
#alpha13{
	z-index: 100;
	position: relative;
	left: 92px;
}
#alpha14{
	z-index: 100;
	position: relative;
	left: 154px;
}


.map {
	position: relative;
	top: 50px;
	

}

.team{
	position: relative;
	top:60px;
	color:fuchsia;
	font-size: 25px;
	font-weight: bold;
}
.sega{
	position: relative;
	top:70px;
	color: blue;
}